/* 
МЕНЯЕМ ПОЛОЖЕНИЕ ЧЕГО ЛИБО
    position: relative;
    bottom: 100px;
    top: 20px;
    right: 20px;
    left: 20px;
*/
.header {
    color: blue;
    font-weight: 100;
    position: relative;
    bottom: 30px;
    text-shadow: 1px 2px 5px greenyellow;

}

.header_name_kafe {
    position: relative;
    bottom: 160px;
}



.search {
    position: relative;
    bottom: 130px;
}

.header_ {
    color: blue;
    font-weight: bold;
    position: relative;
    bottom: 100px;
    text-shadow: 1px 2px 5px greenyellow;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}


a:active {
    color: chartreuse
}

a.focus {
    font-weight: bold;
}

h1::first-letter {
    font-size: 40px;

}

p::selection {
    background-color: yellow;
    color: red;
}


.txt {
    position: absolute;
    color: black;
    position: relative;
    bottom: 620px;
    text-shadow: 1px 2px 5px greenyellow;
}

.rolls {
    position: relative;
    bottom: 140px;
    text-shadow: 1px 2px 5px greenyellow;
    transition-duration: 500ms;
    transition-property: transform;
}

.wok {
    position: relative;
    bottom: 360px;
    text-shadow: 1px 2px 5px greenyellow;
    transition-duration: 500ms;
    transition-property: transform;
}


.pizza {
    position: relative;
    bottom: 585px;
    text-shadow: 1px 2px 5px greenyellow;
    transition-duration: 500ms;
    transition-property: transform;
}

.pizza:hover {
    transform: scale(1.2);
}

.basket {
    position: relative;
    bottom: 850px;
    text-shadow: 1px 2px 5px greenyellow;
    transition-duration: 500ms;
    transition-property: transform;
}

body {
    background-image: url(../test_html_css/img/mini-kafe.jpg);
    background-attachment: fixed;
}

span {
    position: absolute;
    color: red;
    position: relative;
    text-shadow: 1px 2px 5px greenyellow;
    height: 100px;

}